<html>
<head>
  <meta charset="utf-8">
  <title>Equipment Rental</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta content="Author" name="WebThemez">
  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet"> 
</head>

<body id="body"> 
 <header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
     <h1><a href="" id="body" class="scrollto"><span style="font-weight:bold">Agri Equipment</span> Rental</a></h1> 
     <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
   </div>
   <div class="pull-left ml-4">
    <!-- SEARCH FORM -->
   <!-- <form class="form-inline "  action="search.php" method="post">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="text"  name="searchdata" placeholder="Search Equipment" aria-label="Search" required="true">
        <div class="input-group-append">
          <button class="btn btn-navbar" style="background-color: #49a3ff;" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>-->
  </div>


  <nav id="nav-menu-container">
    <ul class="nav-menu">
      <li class="menu-active"><a href="/admin">Home</a></li>
      <li><a href="/logout">Logout</a></li>
         
    </ul>
  </nav><!-- #nav-menu-container -->
</div>
  </header><!-- #header -->
 <section id="innerBanner"> 
  <div class="inner-content">
    <h2><span>Administrator</span><br>We provide high quality vehicles</h2>
    <div> 
    </div>
  </div> 
</section><!-- #Page Banner -->

<main id="main">
      <section id="about" class="wow fadeInUp">
        <div class="container"> 
          <div class="row">
            
            <div class="col-lg-12 content">
              <h4>Agri Equipment Provider - Information</h4>
			  {% if msg=="success" %}
			  <script language="javascript">
			  alert("Approved..");
			  window.location.href="/admin";
			  </script>
			  {% endif %}
			  
			  
			  <div class="row">
			  
			  {% for rs in data %}
			  <div class="col-md-4">
			  <table>
			  
			  <tr class="alert-primary">
			  <td>{{loop.index}}. Equipment Provider: {{rs[1]}}</td>
			  </tr>
			  <tr>
			  <td>Address: {{rs[2]}}, {{rs[3]}}</td>
			  </tr>
			  <tr>
			  <td>Contact: {{rs[4]}}, {{rs[5]}}</td>
			  </tr>
			  <tr>
			  <td>
			  <a href="/view_pro?uname={{rs[6]}}">Equipment Info</a> /
			  {% if rs[9]==1 %}
			  Approved
			  {% else %}
			  <a href="/admin?act=ok&pid={{rs[0]}}">Click to Approve</a>
			  {% endif %}			  
			  </td>
			  </tr>
			  </table>
			  </div>
			   {% endfor %}
			   </div>
            </div>
          </div>

        </div>
      </section><!-- #about -->
    </main>
    <footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Agriculture Equipment Booking System</strong>.
    </div>
  </div>
</footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript  -->
    <script src="../static/lib/jquery/jquery.min.js"></script>
    <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/superfish/hoverIntent.js"></script>
    <script src="../static/lib/superfish/superfish.min.js"></script>
    <script src="../static/lib/wow/wow.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../static/lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="../static/lib/sticky/sticky.js"></script> 
    <script src="../static/contact/jqBootstrapValidation.js"></script>
    <script src="../static/contact/contact_me.js"></script>
    <script src="../static/js/main.js"></script>

  </body>
  </html>
