<html>
<head>
  <meta charset="utf-8">
  <title>Equipment Rental</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta content="Author" name="WebThemez">
  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet"> 
  
<script language="javascript">  
function getDays()
{
	if(document.form1.time_type.value=="1")
	{
	document.getElementById("x1").style.display="block";
	document.getElementById("x2").style.display="none";
	}
	else if(document.form1.time_type.value=="2")
	{
	document.getElementById("x1").style.display="none";
	document.getElementById("x2").style.display="block";
	}
	else
	{
	document.getElementById("x1").style.display="none";
	document.getElementById("x2").style.display="none";
	}
}  
function validate()
{
	if(document.form1.time_type.value=="1")
	{
		if(document.form1.sdate1.value=="")
		{
		alert("Enter the Date");
		document.form1.sdate1.focus();
		return false;
		}
		if(document.form1.shour.selectedIndex==0)
		{
		alert("Select the Start Hour");
		document.form1.shour.focus();
		return false;
		}
		if(document.form1.ehour.selectedIndex==0)
		{
		alert("Select the End Hour");
		document.form1.ehour.focus();
		return false;
		}
		
	
	}
	else if(document.form1.time_type.value=="2")
	{
		if(document.form1.sdate.value=="")
		{
		alert("Enter the Start Date");
		document.form1.sdate.focus();
		return false;
		}
		if(document.form1.edate.value=="")
		{
		alert("Enter the End Date");
		document.form1.edate.focus();
		return false;
		}
	}


return true;
}
</script>  
</head>

<body id="body"> 
 <header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
     <h1><a href="" id="body" class="scrollto"><span style="font-weight:bold">Agri Equipment</span>Rental</a></h1> 
     <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
   </div>
   <div class="pull-left ml-4">
    <!-- SEARCH FORM -->
   <!-- <form class="form-inline "  action="search.php" method="post">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="text"  name="searchdata" placeholder="Search Equipment" aria-label="Search" required="true">
        <div class="input-group-append">
          <button class="btn btn-navbar" style="background-color: #49a3ff;" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>-->
  </div>


  <nav id="nav-menu-container">
    <ul class="nav-menu">
      <li class="menu-active"><a href="/userhome">Home</a></li>
      <li><a href="/user_status">Status</a></li>
      <li><a href="/logout">Logout</a></li>
         
    </ul>
  </nav><!-- #nav-menu-container -->
</div>
  </header><!-- #header -->
 <section id="innerBanner"> 
  <div class="inner-content">
    <h2><span>Equipment Provider</span><br>We provide high quality vehicles</h2>
    <div> 
    </div>
  </div> 
</section><!-- #Page Banner -->

<main id="main">
      <section id="about" class="wow fadeInUp">
        <div class="container"> 
          <div class="row">
            <div class="col-lg-6 about-img">
              <img src="../static/img/nissan.jpg" alt="">
			  <h4>Reviews</h4>
			  <hr>
			  {% for vd in vdata %}
			  {{vd[13]}} <br>
			  by {{vd[1]}}
			  <hr>
			  {% endfor %}
            </div>

            <div class="col-lg-6 content">
              <h4>Booking</h4>
			  
			  {% if msg=="wrong" %}
			  <span style="color:#FF0000">Invaild Date!</span>
			  {% endif %}
			  {% if msg=="wrong2" %}
			  <span style="color:#FF0000">Invaild Time!</span>
			  {% endif %}
			  {% if msg=="wrong3" %}
			  <span style="color:#FF0000">Already Booked!</span>
			  {% endif %}
			  
			  <p>Equipment Provider: {{pdata[1]}}</p>
			  <p>Address: {{pdata[2]}}, {{pdata[3]}}</p>
			  <p>Contact: {{pdata[4]}}, {{pdata[5]}}</p>
			 
			 {% if msg=="success" %}
			<span style="color:#009900">Booked Successfully</span>
			<iframe src="http://iotcloud.co.in/testsms/sms.php?sms=emr&name={{name}}&mess={{mess}}&mobile={{mobile}}" width="10" height="10" ></iframe>
			<script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/user_status';
}, 4000);
</script>
			 {% endif %}
			  <form name="form1" method="post">
			  <div class="row">
			  	<div class="col-md-4">
				No. of Hours / Days
				</div>
				
				
				<div class="col-md-4">
				<select name="time_type" class="form-control" onChange="getDays()" required>
				<option value="">-Select-</option>
				<option value="1">Hours</option>
				<option value="2">Days</option>
				</select>
				</div>
			  </div>
			  <br>
			  
			   <div id="x2" style="display:none">
			  <div class="row">
			  	<div class="col-md-4">
			    <label>Start Date</label>
				<input type="date" name="sdate" class="form-control" placeholder="" />
				</div>
				<div class="col-md-4">
					<label>End Date</label>
				 <input type="date" name="edate" class="form-control" placeholder="" />
			  	</div>
				
			  </div>	
			  </div>
			  
			  
			  <div id="x1" style="display:none">
			  
			  <div class="row">
			  	<div class="col-md-4">
			    <label>Date</label>
				<input type="date" name="sdate1" class="form-control" placeholder="" />
				</div>
				
			  </div>	
			
			  <div class="row">
						  	<div class="col-md-4">
							<label>Start Time</label>
						  	<select name="shour" class="form-control">
							<option value="">-Hour-</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
							<option>13</option>
							<option>14</option>
							<option>15</option>
							<option>16</option>
							<option>17</option>
							<option>18</option>
							<option>19</option>
							<option>20</option>
							<option>21</option>							
							</select>
							
							</div>
							<div class="col-md-4">
								<label>End Time</label>
						  	 <select name="ehour" class="form-control">
							<option value="">-Hour-</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
							<option>13</option>
							<option>14</option>
							<option>15</option>
							<option>16</option>
							<option>17</option>
							<option>18</option>
							<option>19</option>
							<option>20</option>
							<option>21</option>
							<option>22</option>
							</select>
							</div>
						  </div>
			 
			 
			 </div>
						 
			  <br>
			  <div class="row">
			  	<div class="col-md-4">
				
				</div>
				
				<div class="col-md-6">
				<input type="submit" name="btn" class="btn" value="Submit" onClick="return validate()">
				</div>
			  </div>
				
			  
			  </form>
			  
            </div>
          </div>

        </div>
      </section><!-- #about -->
    </main>
    <footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Agriculture Equipment Booking System</strong>.
    </div>
  </div>
</footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript  -->
    <script src="../static/lib/jquery/jquery.min.js"></script>
    <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/superfish/hoverIntent.js"></script>
    <script src="../static/lib/superfish/superfish.min.js"></script>
    <script src="../static/lib/wow/wow.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../static/lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="../static/lib/sticky/sticky.js"></script> 
    <script src="../static/contact/jqBootstrapValidation.js"></script>
    <script src="../static/contact/contact_me.js"></script>
    <script src="../static/js/main.js"></script>

  </body>
  </html>
