<html>
<head>
  <meta charset="utf-8">
  <title>Equipment Rental</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta content="Author" name="WebThemez">
  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet"> 
</head>

<body id="body"> 
 <header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
     <h1><a href="" id="body" class="scrollto"><span style="font-weight:bold">Agri Equipment</span>Rental</a></h1> 
     <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
   </div>
   <div class="pull-left ml-4">
    <!-- SEARCH FORM -->
   <!-- <form class="form-inline "  action="search.php" method="post">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="text"  name="searchdata" placeholder="Search Equipment" aria-label="Search" required="true">
        <div class="input-group-append">
          <button class="btn btn-navbar" style="background-color: #49a3ff;" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>-->
  </div>


  <nav id="nav-menu-container">
    <ul class="nav-menu">
      <li class="menu-active"><a href="/pro_home">Home</a></li>
      <li><a href="/pro_vehicle">Equipments</a></li>
	  <li><a href="/pro_history">History</a></li>
      <li><a href="/logout">Logout</a></li>
         
    </ul>
  </nav><!-- #nav-menu-container -->
</div>
  </header><!-- #header -->
 <section id="innerBanner"> 
  <div class="inner-content">
    <h2><span>Equipment Provider</span><br>We provide high quality vehicles</h2>
    <div> 
    </div>
  </div> 
</section><!-- #Page Banner -->

<main id="main">
      <section id="about" class="wow fadeInUp">
        <div class="container"> 
          <div class="row">
            <div class="col-lg-6 about-img">
              <img src="../static/img/nissan.jpg" alt="">
            </div>

            <div class="col-lg-6 content">
              <h4>Welcome to Agri Equipment Provier</h4>
			  
			  <form name="form1" method="post">
			  <div class="row">
			  	<div class="col-md-4">
				Name
				</div>
				
				<div class="col-md-6">
				{{data[1]}} ({{data[6]}})
				</div>
			  </div>
			  <br>
			  <div class="row">
			  	<div class="col-md-4">
				Address
				</div>
				
				<div class="col-md-6">
				{{data[2]}}, {{data[3]}}
				</div>
			  </div>
			  <br>
			  <div class="row">
			  	<div class="col-md-4">
				Contact
				</div>
				
				<div class="col-md-6">
				{{data[4]}}, {{data[5]}}
				</div>
			  </div>
			  <br>
			 <div class="row">
			  	<div class="col-md-4">
				Created on
				</div>
				
				<div class="col-md-6">
				{{data[8]}}
				</div>
			  </div>
			  <br>
			  
			  <a href="/pro_add">Add Agri Equipments</a>
			  
			  </form>
			  
            </div>
          </div>

        </div>
      </section><!-- #about -->
    </main>
    <footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Agriculture Equipment Booking System</strong>.
    </div>
  </div>
</footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript  -->
    <script src="../static/lib/jquery/jquery.min.js"></script>
    <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/superfish/hoverIntent.js"></script>
    <script src="../static/lib/superfish/superfish.min.js"></script>
    <script src="../static/lib/wow/wow.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../static/lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="../static/lib/sticky/sticky.js"></script> 
    <script src="../static/contact/jqBootstrapValidation.js"></script>
    <script src="../static/contact/contact_me.js"></script>
    <script src="../static/js/main.js"></script>

  </body>
  </html>
